<ion-header>
  <ion-navbar>
    <ion-title>MyWeatherApp</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="home">

  <ion-grid *ngIf="currentWeather">
    <ion-row width-100>
      <ion-col width-100 offset-25>
        <h2 class="location">{{ currentWeather.name }}, {{ currentWeather.sys.country }}</h2>
        <div class="weather-icon" *ngFor="let item of currentWeather.weather">
          <img src="http://openweathermap.org/img/w/{{ item.icon }}.png">
          <h3 class="desc">{{ item.description }}</h3>
          <h3 class="temp">{{ currentWeather.main.temp - 273.15 | number : '1.1-1'  }}&deg;</h3>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="weather-desc">
      <ion-col width-100>
        <ion-list>
          <ion-item><strong>Temp: </strong> {{ currentWeather.main.temp - 273.15 | number : '1.1-1'  }}&deg;C ({{ (((9/5) * (currentWeather.main.temp - 273.15)) + 32)
            | number : '1.1-1' }}&deg;F) </ion-item>
          <ion-item><strong>Min-Temp: </strong>{{ currentWeather.main.temp_min - 273.15 | number : '1.1-1'  }}&deg;C ({{ (((9/5) * (currentWeather.main.temp_min - 273.15))
            + 32) | number : '1.1-1' }}&deg;F)</ion-item>
          <ion-item><strong>Max-Temp: </strong>{{ currentWeather.main.temp_max - 273.15 | number : '1.1-1'  }}&deg;C ({{ (((9/5) * (currentWeather.main.temp_max - 273.15))
            + 32) | number : '1.1-1' }}&deg;F)</ion-item>
          <ion-item><strong>Cloudiness: </strong>{{ currentWeather.clouds.all }}%</ion-item>
          <ion-item><strong>Pressure: </strong>{{ currentWeather.main.pressure }} hpa</ion-item>
          <ion-item><strong>Humidity: </strong>{{ currentWeather.main.humidity }}%</ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>