// Ionic Variables and Theming.

// Font path
$font-path: "../assets/fonts";

// The app direction 
$app-direction: ltr;

@import "ionic.globals";

// Shared Variables
// --------------------------------------------------

// Named Color Variables
// --------------------------------------------------
$colors: (
  primary:    rgba(0,0,0,0.8),
  secondary:  #435d8c,
  danger:     #f53d3d,
  light:      #ffffff,
  dark:       #999999
);

@font-face {
  font-family: 'rubik';
  src: url('../assets/fonts/Rubik-Light.ttf');
}

*{
  font-family: 'rubik';
}

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
// Top toolbar
$toolbar-ios-background: color($colors,primary);

// Bottom tabs
$tabs-ios-background: color($colors,primary);
$tabs-ios-tab-color-active: color($colors, light);
$tabs-ios-tab-color-inactive: color($colors, dark);
$tabs-ios-tab-icon-size: 35px;
$tabs-ios-tab-min-height: 66px;

// List items
$list-ios-background-color: color($colors,primary);
$list-ios-text-color:color($colors, light);

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
// Top toolbar
$toolbar-md-background: color($colors,primary);

// Bottom tabs
$tabs-md-background: color($colors,primary);
$tabs-md-tab-color-active: color($colors, light);
$tabs-md-tab-color-inactive: color($colors, dark);
$tabs-md-tab-icon-size: 35px;
$tabs-md-tab-min-height: 66px;

// List items
$list-md-background-color: color($colors,primary);
$list-md-text-color:color($colors, light);

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here

// App Theme
// --------------------------------------------------
@import "ionic.theme.default";

// Ionicons
// --------------------------------------------------
@import "ionic.ionicons";

// Fonts
// --------------------------------------------------
@import "roboto";
@import "noto-sans";
