page-settings {
    .settings{
        background: url('../assets/background/weather.jpeg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        color:color($colors, light);
    }

    .button-block-md, .button-block-ios {
        margin-top: 25px;
    }
}
